* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
}

.search-box {
    text-align: center;
    margin: 40px auto;
}

#search {
    padding: 10px;
    width: 70%;
    border: 2px lightgray solid;
    border-radius: 5px;
    max-width: 460px;
}
#search::placeholder {
    color: gray;
}

main {
    margin: auto;
    max-width: 1000px;
}

img {
    padding: 20px;
}

/** Flex Properties **/
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    flex-basis: 25%;
}
